/*==========================
RESET
==========================*/

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

/*==========================
BODY
==========================*/

body{

    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--dark);

}

/*==========================
LAYOUT
==========================*/

.admin-layout{

    display:flex;
    min-height:100vh;

}