/*==========================
RESPONSIVE
==========================*/

@media(max-width:992px){

    #menuToggle{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .sidebar{
        position:fixed;
        left:-260px;
        top:0;
        width:260px;
        height:100vh;
        z-index:999;
        transition:.35s;
    }

    .sidebar.active{
        left:0;
    }

    .overlay{
        display:none;
        position:fixed;
        inset:0;
        background:rgba(0,0,0,.45);
        z-index:998;
    }

    .overlay.active{
        display:block;
    }

    .main-content{
        width:100%;
        padding:25px;
    }

    .topbar{
        flex-wrap:wrap;
        gap:20px;
    }

    .form-grid{
        grid-template-columns:1fr;
    }

    .form-left{
        grid-template-columns:1fr;
    }

    #previewImagen{
        max-width:220px;
        height:220px;
    }

}