/*====================================
RESPONSIVE
=====================================*/

@media (max-width:992px){

    /* Sidebar */

    .sidebar{

        position:fixed;
        top:0;
        left:-260px;
        width:260px;
        height:100vh;
        z-index:999;
        transition:.35s;

    }

    .sidebar.active{

        left:0;

    }

    /* Overlay */

    .overlay{

        display:none;
        position:fixed;
        inset:0;
        background:rgba(0,0,0,.45);
        z-index:998;

    }

    .overlay.active{

        display:block;

    }

    /* Main */

    .main-content{

        width:100%;
        padding:25px;

    }

    /* Topbar */

    .topbar{

        display:flex;
        flex-direction:column;
        align-items:flex-start;
        gap:20px;

    }

    .left-topbar{

        width:100%;
        display:flex;
        align-items:center;
        gap:15px;

    }

    #menuToggle{

        display:flex;
        justify-content:center;
        align-items:center;

    }

    .topbar .btn{

        width:100%;
        justify-content:center;

    }

}