/* ==========================
   TABLETS Y CELULARES
========================== */

@media (max-width: 992px){

    /* Mostrar botón hamburguesa */

    #menuToggle{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    /* Sidebar oculto */

    .sidebar{
        position:fixed;
        left:-260px;
        top:0;
        width:260px;
        height:100vh;
        z-index:999;
        transition:.35s;
    }

    .sidebar.active{
        left:0;
    }

    /* Overlay */

    .overlay{
        display:none;
        position:fixed;
        inset:0;
        background:rgba(0,0,0,.45);
        z-index:998;
    }

    .overlay.active{
        display:block;
    }

    /* Contenido */

    .main-content{
        width:100%;
        padding:25px;
    }

    /* Topbar */

    .topbar{

        flex-wrap:wrap;

        gap:20px;

    }

}