.table-container{

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

#tablaProductos{

    width:100%;

    border-collapse:collapse;

}

#tablaProductos th{

    background:#2563EB;

    color:white;

    padding:16px;

    text-align:left;

}

#tablaProductos td{

    padding:18px;

    border-bottom:1px solid #ececec;

}

.img-producto{

    width:70px;

    height:70px;

    object-fit:cover;

    border-radius:14px;

    border:1px solid #E5E7EB;

    transition:transform .3s ease;

}

.img-producto:hover{

    transform:scale(1.08);

}

.btn-primary{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    background:#2563EB;

    color:white;

    text-decoration:none;

    padding:12px 24px;

    border-radius:12px;

    font-weight:600;

    transition:all .3s ease;

}

.btn-primary:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(37,99,235,.25);

}

.dataTables_wrapper{

    margin-top:20px;

}

.dataTables_filter{

    margin-bottom:20px;

}

.dataTables_length{

    margin-bottom:20px;

}

table.dataTable tbody tr:hover{

    background:#f5f7fb;

}

/*=============================
BOTONES DE ACCIONES
==============================*/

.acciones{

    white-space: nowrap;

}

.btn-edit,
.btn-delete{

    width:40px;

    height:40px;

    display:inline-flex;

    justify-content:center;

    align-items:center;

    border-radius:10px;

    color:white;

    text-decoration:none;

    transition:.3s;

    margin-right:6px;

}

.btn-edit{

    background:#2563EB;

}

.btn-edit:hover{

    background:#1D4ED8;

    transform:translateY(-2px);

}

.btn-delete{

    background:#DC2626;

}

.btn-delete:hover{

    background:#B91C1C;

    transform:translateY(-2px);

}