*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:'Poppins',sans-serif;

    background:#f4f6f9;

}

.admin-layout{

    display:flex;

    min-height:100vh;

}

.preview-container{

    margin-top:15px;

}

#previewImagen{

    width:180px;

    height:180px;

    object-fit:cover;

    border-radius:12px;

    border:2px dashed #D1D5DB;

    padding:5px;

}