.btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    padding:16px 34px;

    border-radius:50px;

    background:var(--primary);

    color:white;

    font-weight:600;

    transition:var(--transition);

}

.btn:hover{

    background:var(--primary-dark);

    transform:translateY(-3px);

}

.badge{

    position:absolute;

    top:18px;

    left:18px;

    background:#FF4D4F;

    color:white;

    padding:8px 18px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}